<?xml version="1.0" encoding="UTF-8"?>
 <!-- Licensed Materials - Property of IBM
IBM Sterling Call Center and Store
(C) Copyright IBM Corp. 2006, 2011 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  --> 
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:lxslt="http://xml.apache.org/xslt" version="1.0">
   <xsl:output method="xml" indent="yes" />

   <xsl:template match="Order">
      <Order>
         <xsl:attribute name="OrderHeaderKey">
            <xsl:value-of select="@OrderHeaderKey" />
         </xsl:attribute>

         <xsl:attribute name="OrderNo">
            <xsl:value-of select="@OrderNo" />
         </xsl:attribute>

         <OrderLines>
            <xsl:apply-templates select="OrderLines/OrderLine" />
         </OrderLines>
      </Order>
   </xsl:template>

   <xsl:template match="OrderLine">
      <OrderLine>
         <xsl:attribute name="Quantity">
            <xsl:value-of select="@ApplicableQty" />
         </xsl:attribute>

         <xsl:attribute name="ShipDate">
            <xsl:value-of select="@FirstPromisedDeliveryDate" />
         </xsl:attribute>

         <xsl:attribute name="ItemID">
            <xsl:value-of select="Item/@ItemID" />
         </xsl:attribute>
      </OrderLine>
   </xsl:template>
</xsl:stylesheet>
