<html>
    <body>
        <form name="frmNoChildLPN" target="/console/rfinvinq.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300" >
                            <tr>
                                <td>
                                    <input col="1"
                                    name="lblTitle"
                                    size="20" subtype="Label"
                                    tag="binding=lblTitle" value="Mobile_Containers"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr>
                                <td>
                                    <input colno="1"
                                    inputbinding="xml:CurrentUser:/User/@Node"
                                    outputbinding="xml:CurrentUser:/User/@Node"
                                    size="0" subtype="Hidden"
                                    tag="binding=xml:CurrentUser:/User/@Node"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    name="lbl"
                                    size="20" subtype="Label"
                                    tag="binding=lblContainer" value="Mobile_Container"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/LocationLPNList/@LPN"
                                    name="txtContainer" outputbinding="xml:/LocationLPNList/@LPN"
                                    size="20" subtype="ProtectedText"
                                    tag="binding=xml:/LocationLPNList/@LPN"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1"
                                    name="lblNoLPNMessage"
                                    size="20" subtype="Label"
                                    tag="binding=lblNoLPNMessage" value="Mobile_No_Child_Container"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" name="Back"
                                    size="8" mandatory="false"
                                    subtype="CommandBack" hotkey="F4"
                                    type="button" validate="false" value="Mobile_Back"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
