<html>
    <body>
        <form name="frmCountEnterprise" target="/console/rfcount.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/RecordCountResult/@CountRequestKey"
                                    outputbinding="xml:/RecordCountResult/@CountRequestKey"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/RecordCountResult/@CountRequestKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/RecordCountResult/@BarCodeData"
                                    outputbinding="xml:/RecordCountResult/@BarCodeData"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/RecordCountResult/@BarCodeData"
                                    type="hidden" validate="false"/>
                                    <input col="7"
                                    inputbinding="xml:/RecordCountResult/@TaskType"
                                    outputbinding="xml:/RecordCountResult/@TaskType"
                                    size="20"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/RecordCountResult/@TaskType"
                                    type="text" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/ParentLPN/@CaseId"
                                    mandatory="false"
                                    outputbinding="xml:/ParentLPN/@CaseId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/ParentLPN/@CaseId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/ParentLPN/@PalletId"
                                    outputbinding="xml:/ParentLPN/@PalletId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/ParentLPN/@PalletId"
                                    type="hidden" validate="false"/>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/RecentLPN/@LastScannedLPN"
                                    mandatory="false"
                                    name="txtLastScannedLpn"
                                    outputbinding="xml:/RecentLPN/@LastScannedLPN"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/RecentLPN/@LastScannedLPN"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/CountRequest/@RequestType"
                                    outputbinding="xml:/CountRequest/@RequestType"
									size="20" subtype="Hidden"
									tag="binding=xml:/CountRequest/@RequestType"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/CountRequest/@ScannedContext"
                                    outputbinding="xml:/CountRequest/@ScannedContext"
									size="20" subtype="Hidden"
									tag="binding=xml:/CountRequest/@ScannedContext"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/CountRequest/@LocationId"
                                    outputbinding="xml:/CountRequest/@LocationId"
									size="20" subtype="Hidden"
									tag="binding=xml:/CountRequest/@LocationId"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/CountRequest/@PalletId"
                                    outputbinding="xml:/CountRequest/@PalletId"
									size="20" subtype="Hidden"
									tag="binding=xml:/CountRequest/@PalletId"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/CountRequest/@CaseId"
                                    outputbinding="xml:/CountRequest/@CaseId"
									size="20" subtype="Hidden"
									tag="binding=xml:/CountRequest/@CaseId"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/CountRequest/@ItemId"
                                    outputbinding="xml:/CountRequest/@ItemId"
									size="20" subtype="Hidden"
									tag="binding=xml:/CountRequest/@ItemId"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/CountRequest/@UnitOfMeasure"
                                    outputbinding="xml:/CountRequest/@UnitOfMeasure"
									size="20" subtype="Hidden"
									tag="binding=xml:/CountRequest/@UnitOfMeasure"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    size="20" subtype="Label"
                                    tag="binding=lblNodeKey"
                                    type="text" validate="false" value="Mobile_Node"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/RecordCountResult/@Node"
                                    mandatory="false"
                                    outputbinding="xml:/RecordCountResult/@Node"
                                    size="20"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/RecordCountResult/@Node"
                                    type="text" validate="false" valuename="txtNode"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    size="20" subtype="Label"
                                    tag="binding=lblLocationId"
                                    type="text" validate="false" value="Mobile_Location"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Location/@LocationId"
                                    mandatory="false"
                                    name="txtLocationId"
                                    outputbinding="xml:/Location/@LocationId"
                                    size="20"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Location/@LocationId"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    size="20" subtype="Label"
                                    tag="binding=lblEnterprise"
                                    type="text" validate="false" value="Mobile_Enterprise"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Enterprise/@EnterpriseCode"
                                    mandatory="false"
                                    name="txtEnterpriseCode"
                                    outputbinding="xml:/Enterprise/@EnterpriseCode"
                                    size="20" subtype="Text"
                                    tag="binding=xml:/Enterprise/@EnterpriseCode"
                                    type="text" validate="true"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3"
                                    mandatory="false" name="Go"
                                    size="3" subtype="Command"
                                    tag=" " type="button"
                                    url="/console/rfcount.ppc?action=frmCountEnterpriseUpdGo"
                                    validate="false" value="Mobile_Go"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>