<html>
    <body>
        <form name="frmNoOpenTasks" target="/console/rfcount.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td/>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="txtInfo" size="20"
                                    subtype="Label" type="text"
                                    validate="false" value="Mobile_No_Open_Tasks"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3" name="OK"
                                    size="5" subtype="Command"
                                    tag=" " type="button"
                                    url="/console/rfcount.ppc?action=frmInitiateCount"
                                    validate="false" value="Mobile_Back"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
