<?xml version="1.0" encoding="UTF-8"?>
<CassandraSchema>
	<MappedEntities>
		<!-- Each of the tables defined in Cassandra must have a corresponding 
			entity in the RDBMS entity framework Each of the attribute of these tables 
			must have a corresponding attribute defined in the entity xml as well -->
		<MappedEntity EntityName="Common_Code" TableName="yfs_common_code"
			Keyspace="">
			<MappedAttributes InheritAll="true">
				<InheritAll Excludes="">
					<Exclude Name="" />
				</InheritAll>
				<MappedAttribute Name="" ColumnName="" />
				<MappedAttribute Name="" ColumnName="" />
			</MappedAttributes>
			<PartitionKey>
				<Attribute Name="" />
				<Attribute Name="" />
			</PartitionKey>
			<ClusteringColumns>
				<Attribute Name="" />
				<Attribute Name="" />
			</ClusteringColumns>
		</MappedEntity>
	</MappedEntities>
</CassandraSchema>
