<html>
    <body>
        <form name="frmEquipment" target="/console/rfdrvnputaway.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
	                                <input col="1"                                   
                                    name="lblTitle"
                                    size="20" subtype="Label"
                                    tag="binding=lblTitle" value="Mobile_User_Driven_Putaway"
                                    type="text" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/Task/@ActivityGroupId"
                                    name="txtActivityGroup"
                                    outputbinding="xml:/Task/@ActivityGroupId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@ActivityGroupId"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
							<tr/>
                            <tr>
                                <td>
                                    <input col="1" size="20"
                                    subtype="Label"
                                    tag="binding=lblEquipment"
                                    type="text" validate="false" value="Mobile_Equipment_#"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EquipmentId"
                                    name="txtEquipmentId"
                                    outputbinding="xml:/Task/@EquipmentId"
                                    size="20" subtype="Text"
                                    tag="binding=xml:/Task/@EquipmentId"
                                    type="text" validate="true"/>
									
                                </td>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3" name="Go"
                                    size="3" subtype="Command"
                                    tag=" " type="button" url=""
                                    validate="false" value="Mobile_Go"/>
                                
                                </td>
                            </tr>
                          </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
