<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed Materials - Property of IBM
IBM Sterling Call Center and Store
(C) Copyright IBM Corp. 2006, 2011 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  --> 
  <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
   <xsl:output method="xml" indent="yes" encoding="UTF-8" />

   <xsl:template match="Order">
      <Order>
         <xsl:apply-templates select="PersonInfoShipTo[@IsAddressVerified = 'N']" />

         <xsl:apply-templates select="PersonInfoBillTo[@IsAddressVerified = 'N']" />

         <xsl:for-each select="OrderLines/OrderLine">
            <xsl:apply-templates select="PersonInfoShipTo[@IsAddressVerified = 'N']" />

            <xsl:apply-templates select="PersonInfoBillTo[@IsAddressVerified = 'N']" />
         </xsl:for-each>
      </Order>
   </xsl:template>

   <xsl:template match="PersonInfoShipTo">
      <PersonInfoBillTo>
         <xsl:for-each select="@*">
            <xsl:variable name="val">
               <xsl:value-of select="." />
            </xsl:variable>

            <xsl:attribute name="{name()}">
               <xsl:value-of select="." />
            </xsl:attribute>
         </xsl:for-each>
      </PersonInfoBillTo>
   </xsl:template>

   <xsl:template match="PersonInfoBillTo">
      <PersonInfoBillTo>
         <xsl:for-each select="@*">
            <xsl:variable name="val">
               <xsl:value-of select="." />
            </xsl:variable>

            <xsl:attribute name="{name()}">
               <xsl:value-of select="." />
            </xsl:attribute>
         </xsl:for-each>
      </PersonInfoBillTo>
   </xsl:template>
</xsl:stylesheet>

