<Shipment AssignedToUserId="" ShipmentNo="" DisplayOrderNo="" DeliveryMethod="" DocumentType="" EnterpriseCode="" ShipNode="" ShipmentKey="">
<ShipmentLines>
<ShipmentLine ShipmentLineKey="" ItemID="" UnitOfMeasure="" ProductClass="" Quantity="" Segment="" SegmentType="">
<ShipmentLineInvAttRequest BatchNo="" LotNumber="" ManufacturingDate="" />
</ShipmentLine>
</ShipmentLines>
</Shipment>