<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed Materials - Property of IBM
IBM Sterling Call Center and Store
(C) Copyright IBM Corp. 2006, 2011 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  --> 
<xsl:stylesheet xmlns:xsl = "http://www.w3.org/1999/XSL/Transform" version = "1.0">
	<xsl:output method="text"/>
	 <xsl:template match="/Order/OrderLines">
	 <xsl:variable name="itemid">
		<xsl:value-of select="OrderLine/@ItemID"/>
	</xsl:variable>
	   <xsl:value-of select="concat('Price Match was approved for the item ',$itemid,'.')"/>
	</xsl:template>
</xsl:stylesheet>