<?xml version="1.0" encoding="UTF-8" ?> 
<!-- Licensed Materials - Property of IBM
IBM Sterling Call Center and Store
(C) Copyright IBM Corp. 2006, 2011 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  --> 
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

<xsl:output method="xml" indent="yes"/>
<xsl:template match="Order">
<Order>
   <xsl:copy-of select="@OrderHeaderKey"/>
   <Notes>
     <xsl:apply-templates select="OrderLines"/>
   </Notes>
</Order>
</xsl:template>

<xsl:template match="OrderLines">
<Note>
    <xsl:attribute name="ReasonCode">
	<xsl:text>YCD_FTC_NOTIFICATION</xsl:text>
    </xsl:attribute>   
    <xsl:attribute name="ContactUser">
	<xsl:text>SYSTEM</xsl:text>
    </xsl:attribute>   
    <xsl:attribute name="NoteText">
	<xsl:text>Second FTC Notification email sent to Customer.</xsl:text>
    </xsl:attribute>
    <xsl:attribute name="Priority">
	<xsl:text>1</xsl:text>
    </xsl:attribute>
</Note>
</xsl:template>
</xsl:stylesheet>