<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed Materials - Property of IBM
IBM Sterling Call Center and Store
(C) Copyright IBM Corp. 2006, 2011 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  --> 
<xsl:stylesheet xmlns:xsl = "http://www.w3.org/1999/XSL/Transform" version = "1.0">
	<xsl:output method="text"/>
	 <xsl:template match="/OrderHoldType">
	 <xsl:if test="@Status = 1100">
	<xsl:value-of select="./HoldTypeList/HoldType[./@HoldType=current()/@HoldType]/@HoldTypeDescription"></xsl:value-of><xsl:text> hold was added.</xsl:text>
	</xsl:if>
	 <xsl:if test="@Status = 1200">
	<xsl:value-of select="./HoldTypeList/HoldType[./@HoldType=current()/@HoldType]/@HoldTypeDescription"></xsl:value-of><xsl:text> hold was rejected.</xsl:text>
	</xsl:if>
	 <xsl:if test="@Status = 1300">
	<xsl:value-of select="./HoldTypeList/HoldType[./@HoldType=current()/@HoldType]/@HoldTypeDescription"></xsl:value-of><xsl:text> hold was resolved.</xsl:text>
	</xsl:if>
	</xsl:template>
</xsl:stylesheet>