<?xml version="1.0" encoding="UTF-8" ?>
<!-- Licensed Materials - Property of IBM
IBM Sterling Call Center and Store
(C) Copyright IBM Corp. 2006, 2011 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  --> 
<xsl:stylesheet xmlns:xsl = "http://www.w3.org/1999/XSL/Transform" version = "1.0">
    <xsl:output indent="yes"/>
    <xsl:template match="Shipment">
        <MultiApi>
			<xsl:element name="API">
				<xsl:attribute name="Name">
					<xsl:text>getRuleDetails</xsl:text>
				</xsl:attribute>
				<xsl:element name="Input">    
			    		<xsl:element name="Rules">				    
				    		<xsl:attribute name="CallingOrganizationCode">
							<xsl:value-of select="@ShipNode"/>
				    		</xsl:attribute>
						<xsl:attribute name="RuleSetFieldName">
							<xsl:value-of select="concat('YCD_STORE_','IS_BP_REQD')"/>
				    		</xsl:attribute>
					</xsl:element>
				</xsl:element>
				<Template>
					   <Rules DocumentType="" OrganizationCode="" RuleSetFieldDescription="" RuleSetFieldName="" RuleSetValue="" RulesKey=""/>
				</Template>                                 
			</xsl:element>

			<xsl:element name="API">
				<xsl:attribute name="Name">
					<xsl:text>getRuleDetails</xsl:text>
				</xsl:attribute>
				<xsl:element name="Input">    
			    		<xsl:element name="Rules">				    
				    		<xsl:attribute name="CallingOrganizationCode">
							<xsl:value-of select="@ShipNode"/>
				    		</xsl:attribute>
						<xsl:attribute name="RuleSetFieldName">
							<xsl:value-of select="concat('YCD_STORE_','SHP_BP_REQD')"/>
				    		</xsl:attribute>
					</xsl:element>
				</xsl:element>
				<Template>
					   <Rules DocumentType="" OrganizationCode="" RuleSetFieldDescription="" RuleSetFieldName="" RuleSetValue="" RulesKey=""/>
				</Template>                                 
			</xsl:element>


			<xsl:element name="API">
				<xsl:attribute name="Name">
					<xsl:text>getShipmentDetails</xsl:text>
				</xsl:attribute>
				<xsl:element name="Input">    
			    	<xsl:element name="Shipment">				    
				    	<xsl:attribute name="ShipmentKey">
							<xsl:value-of select="@ShipmentKey"/>
				    	</xsl:attribute>
				</xsl:element>
				</xsl:element>
				<Template>	
					   <Shipment ShipmentKey="" BackroomPickRequired="" DocumentType="" DeliveryMethod=""/>
				</Template>                                 
			</xsl:element>
		   </MultiApi>
    </xsl:template>
    
</xsl:stylesheet>
