# Licensed Materials - Property of IBM
# IBM Sterling Order Management  (5725-D10)
# IBM Sterling Configure Price Quote (5725-D11)
# Copyright IBM Corp. 2007,2014 All Rights Reserved.  
# US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.

##################################################################################################################
# These properties are used by Sterling Commerce - Websphere Commerce Integration Services provided OOB.
# This file is used by the soap servlet to identify the OMS Service to be invoked for the action in the WC request.
# The left hand side is the action passed in the WC request and on the right is the corresponding OMS Service that would be invoked.
##################################################################################################################

GetInventoryAvailability=SCWC_SDF_getInventoryAvailability
ProcessInventoryRequirement_ReserveInventory=SCWC_SDF_reserveAvailableInventory
ProcessInventoryRequirement_CancelInventoryReservation=SCWC_SDF_cancelReservation
GetOrder=SCWC_SDF_getOrderList