<?xml version="1.0" encoding="UTF-8"?>
<!-- Format example:

	<MapManager>
		<NodeTypes>
			<NodeType NodeType='STORE' ShapeType='Ellipse/Rectangle/RoundRectangle/Diamond/TriangleUp/TriangleDown/TriangleLeft/TriangleRight/Marker' Color='orange' SelectedColor='red' Size='10'/>
		</NodeTypes>
	</MapManager>
-->

<MapManager>
	<NodeTypes>
	</NodeTypes>
</MapManager>
