<html>
    <body>
        <form name="frmInventoryDetail" target="/console/rfretrieval.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EquipmentId"
                                    name="txtEquipmentId"
                                    outputbinding="xml:/Task/@EquipmentId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EquipmentId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@NewTaskKey"
                                    name="txtTaskKey"
                                    outputbinding="xml:/Task/@TaskKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@TaskKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@ActivityGroupId"
                                    name="txtActivityGroup"
                                    outputbinding="xml:/Task/@ActivityGroupId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@ActivityGroupId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@NewEnterpriseKey"
                                    name="txtEnterprise"
                                    outputbinding="xml:/Task/@EnterpriseKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EnterpriseKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/TaskList/Task/@BuiltPalletId"
                                    name="txtBuiltPalletId"
                                    outputbinding="xml:/TaskList/Task/@BuiltPalletId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/@BuiltPalletId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/TaskList/Task/@BuiltCaseId"
                                    name="txtCaseId"
                                    outputbinding="xml:/TaskList/Task/@BuiltCaseId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/@BuiltCaseId"
                                    type="hidden" validate="true"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@SourceLocationId"
                                    name="txtLocationId"
                                    outputbinding="xml:/Task/@SourceLocationId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@SourceLocationId"
                                    type="hidden" validate="false"/>
                                    <input col="1" name="lblPick" size="6" subtype="Label" value="Mobile_Pick-"
                                    type="text" validate="false"/>
                                    <input col="7"
                                    inputbinding="xml:/TaskList/Task/@TaskType"
                                    name="txtTaskType"
                                    outputbinding="xml:/Task/@TaskType"
                                    size="11" subtype="Label"
                                    tag="binding=xml:/Task/@TaskType"
                                    type="text" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/Task/@GlobalItemID"
                                    name="txtGTIN"
                                    outputbinding="xml:/Task/@GlobalItemID"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@GlobalItemID"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" 
                                    inputbinding="xml:/Item/@DisplayItemId"
                                    name="txtDisplayItemId" size="20"
                                    subtype="ProtectedText"
                                    type="text" validate="false"/>
									<input col="1" 
                                    inputbinding="xml:/TaskList/Task/Inventory/@ItemId"
                                    name="txtSuggestedItemId"
                                    outputbinding="xml:/TaskList/Task/Inventory/@ItemId"
                                    size="20"
                                    subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/Inventory/@ItemId"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Item/PrimaryInformation/@DisplayItemDescription"
                                    name="txtSuggestedItemDesc"
                                    outputbinding="xml:/Item/PrimaryInformation/@DisplayItemDescription"
                                    size="20"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Item/PrimaryInformation/@DisplayItemDescription"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/Inventory/@Quantity"
                                    name="txtTaskQty"
                                    outputbinding="xml:/Task2/Inventory/@Quantity"
                                    size="9"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Task2/Inventory/@Quantity"
                                    type="text" validate="false"/>
                                    <input col="12"
                                    inputbinding="xml:/TaskList/Task/Inventory/@UnitOfMeasure"
                                    name="txtDUOM"
                                    outputbinding="xml:/Task2/Inventory/@UnitOfMeasure"
                                    size="8" subtype="ProtectedText"
                                    tag="binding=xml:/Task2/Inventory/@UnitOfMeasure"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task1/Inventory/@BarCodeData"
                                    name="txtBarCodeData"
                                    outputbinding="xml:/Task/Inventory/@BarCodeData"
                                    size="20" subtype="Text"
                                    tag="binding=xml:/Task/Inventory/@BarCodeData"
                                    type="text" validate="true"/>
									<input col="1" 
                                    inputbinding="xml:/TaskList/Task/Inventory/@ProductClass"
                                    name="txtSuggestedPC"
                                    outputbinding="xml:/TaskList/Task/Inventory/@ProductClass"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/Inventory/@ProductClass"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblScanQty"
                                    size="10" subtype="Label"
                                    type="text" validate="false" value="Mobile_Scan_Qty"/>
									<input col="12" mandatory="false" defaultoutput="false" inputbinding="xml:/Task1/Inventory/@BarCodeQuantity"
                                    name="txtScanQty"
                                    outputbinding="xml:/Task1/Inventory/@BarCodeQuantity"
                                    size="8" subtype="ProtectedText"  
                                    tag="binding=xml:/Task1/Inventory/@BarCodeQuantity"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="3" defaultoutput="false"
                                    inputbinding="xml:/Task1/Inventory/@OpUOM"
                                    mandatory="false" name="lblOUom"
                                    outputbinding="xml:/Task/Inventory/@OpUOM"
                                    size="8" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@OpUOM"
                                    type="hidden" validate="false" value=""/>
                                    <input col="12"
                                    defaultoutput="false"
                                    inputbinding="xml:/Task1/Inventory/@OpQty"
                                    mandatory="false" name="txtOUom"
                                    outputbinding="xml:/Task/Inventory/@OpQty"
                                    size="8" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@OpQty"
                                    type="hidden" validate="false"/>
                                    <input col="12"
                                    defaultoutput="false"
                                    inputbinding="xml:/Task1/Inventory/@OpUomQty"
                                    mandatory="false"
                                    name="txtOUomQty"
                                    outputbinding="xml:/Task/Inventory/@OpUomQty"
                                    size="8" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@OpUomQty"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblPlus"  tag="binding=lblPlus"
                                    size="2" subtype="Hidden"
                                    type="hidden" validate="false" value="Mobile_Plus"/>
                                    <input col="3"
                                    inputbinding="xml:/TaskList/Task/Inventory/@UnitOfMeasure"
                                    mandatory="false"
                                    name="lblInvUom"
                                    outputbinding="xml:/Task/Inventory/@UnitOfMeasure"
                                    size="8"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Task/Inventory/@UnitOfMeasure"
                                    type="text" validate="false" value="Inv_UOM"/>
                                    <input col="13" mandatory="false"
                                    name="txtIUom"
                                    outputbinding="xml:/Task/Inventory/@InvQuantity"
                                    size="7" subtype="Text"
                                    tag="binding=xml:/Task/Inventory/@InvQuantity"
                                    type="text" validate="always"/>
                 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblEqualTo"
                                    size="2" subtype="Label"
                                    type="text" validate="false" value="Mobile_Equals"/>
                                    <input col="3"
                                    inputbinding="xml:/TaskList/Task/Inventory/@UnitOfMeasure"
                                    name="txtUOM"
                                    outputbinding="xml:/Task1/Inventory/@UnitOfMeasure"
                                    size="8" subtype="ProtectedText"
                                    tag="binding=xml:/Task1/Inventory/@UnitOfMeasure"
                                    type="text" validate="false"/>
									<input col="12" defaultoutput="false"
                                    inputbinding="xml:/TaskList/Task/Inventory/@Quantity"
                                    name="txtActualTotal"
                                    outputbinding="xml:/Task/Inventory/@Quantity"
                                    size="7"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Task/Inventory/@Quantity"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3" name="Go"
                                    size="3" subtype="Command"
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmCheckScan"
                                    validate="false" value="Mobile_Go"/>
									<input col="4" hotkey="F8"
                                    name="Deposit" size="7"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmDepositAfterUpdate"
                                    validate="false" value="Mobile_Deposit"/>
                                    <input col="11" hotkey="F7"
                                    name="CloseCase" size="10"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmCloseCase"
                                    validate="false" value="Mobile_Close_Case"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F6"
                                    name="ClosePallet" size="9"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmClosePallet"
                                    validate="false" value="Mobile_Close_Plt"/>
                                    <input col="11" hotkey="F4"
                                    name="Exception" size="10"
                                    subtype="Command" type="button"
                                    url="/console/rfretrieval.ppc?action=frmPickExceptionForInventoryDetail"
                                    validate="false" value="Mobile_Exception"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
