<html>
    <body>
        <form name="frmRequestedSerialEntry" target="/console/rfretrieval.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EquipmentId"
                                    name="txtEquipmentId"
                                    outputbinding="xml:/Task/@EquipmentId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EquipmentId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@NewTaskKey"
                                    name="txtTaskKey"
                                    outputbinding="xml:/Task/@TaskKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@TaskKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@ActivityGroupId"
                                    name="txtActivityGroup"
                                    outputbinding="xml:/Task/@ActivityGroupId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@ActivityGroupId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EnterpriseKey"
                                    name="txtEnterprise"
                                    outputbinding="xml:/Task/@EnterpriseKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EnterpriseKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/TaskList/Task/@BuiltPalletId"
                                    name="txtBuiltPalletId"
                                    outputbinding="xml:/TaskList/Task/@BuiltPalletId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/@BuiltPalletId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/TaskList/Task/@BuiltCaseId"
                                    name="txtCaseId"
                                    outputbinding="xml:/TaskList/Task/@BuiltCaseId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/@BuiltCaseId"
                                    type="hidden" validate="true"/>
                                    <input col="1" name="lblPick" size="6" subtype="Label" value="Mobile_Pick-"
                                    type="text" validate="false"/>
                                    <input col="7"
                                    inputbinding="xml:/TaskList/Task/@TaskType"
                                    name="txtTaskType"
                                    outputbinding="xml:/Task/@TaskType"
                                    size="11" subtype="Label"
                                    tag="binding=xml:/Task/@TaskType"
                                    type="text" validate="false"/>									                        
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/@SourceLocationId"
                                    name="txtLocationId"
                                    outputbinding="xml:/Task/@SourceLocationId"
                                    size="20" subtype="ProtectedText"
                                    tag="binding=xml:/Task/@SourceLocationId"
                                    type="text" validate="false"/>
								</td>
							</tr>
                            <tr>
                                <td>
                                    <input col="1" 
                                    name="lblItemId"
                                    size="20" subtype="Label"
                                    type="text" validate="false" value="Mobile_Item_ID"/>
								</td>
							</tr>
                            <tr>
                                <td>
                                    <input col="1" 
                                    inputbinding="xml:/Item/@DisplayItemId"
                                    name="txtDisplayItemId" size="20"
                                    subtype="ProtectedText"
                                    type="text" validate="false"/>
									<input col="1" 
                                    inputbinding="xml:/TaskList/Task/Inventory/@ItemId"
                                    name="txtSuggestedItemId"
                                    outputbinding="xml:/TaskList/Task/Inventory/@ItemId"
                                    size="20"
                                    subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/Inventory/@ItemId"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Item/PrimaryInformation/@DisplayItemDescription"
                                    name="txtSuggestedItemDesc"
                                    outputbinding="xml:/Item/PrimaryInformation/@DisplayItemDescription"
                                    size="20"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Item/PrimaryInformation/@DisplayItemDescription"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" 
                                    name="lblSuggSerial"
                                    size="20" subtype="Label"
                                    type="text" validate="false" value="Mobile_Serial_#"/>
								</td>
							</tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/@SuggestedSerial"
                                    name="txtSuggSerial"
                                    outputbinding="xml:/Task/@SuggestedSerial"
                                    size="20" subtype="ProtectedText"
                                    tag="binding=xml:/Task/@SuggestedSerial"
                                    type="text" validate="false"/>
									<input col="12" defaultoutput="false"
                                    inputbinding="xml:/TaskList/Task/Inventory/@Quantity"
                                    name="txtActualTotal"
                                    outputbinding="xml:/Task/Inventory/@Quantity"
                                    size="8"
                                    subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@Quantity"
                                    type="hidden" validate="false"/>
								</td>
							</tr>
                            <tr>
                                <td>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task1/Inventory/@BarCodeData"
                                    name="txtBarCodeData"
                                    outputbinding="xml:/Task/Inventory/@BarCodeData"
                                    size="20" subtype="Text"
                                    tag="binding=xml:/Task/Inventory/@BarCodeData"
                                    type="text" validate="true"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3" name="Go"
                                    size="2" subtype="Command"
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmCheckScan"
                                    validate="false" value="Mobile_Go"/>
                                    <input col="3" hotkey="F7"
                                    name="CloseCase" size="10"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmCloseCase"
                                    validate="false" value="Mobile_Close_Case"/>
                                    <input col="13" hotkey="F6"
                                    name="ClosePallet" size="9"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmClosePallet"
                                    validate="false" value="Mobile_Close_Plt"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
									<input col="1" hotkey="F8"
                                    name="Deposit" size="7"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfretrieval.ppc?action=frmDepositAfterUpdate"
                                    validate="false" value="Mobile_Deposit"/>
                                    <input col="10" hotkey="F4"
                                    name="Exception" size="10"
                                    subtype="Command" type="button"
                                    url="/console/rfretrieval.ppc?action=frmPickExceptionForInventoryDetail"
                                    validate="false" value="Mobile_Exception"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
