<?xml version="1.0" encoding="UTF-8"?>
 <!-- Licensed Materials - Property of IBM
IBM Sterling Call Center and Store
(C) Copyright IBM Corp. 2006, 2011 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 --> 
<xsl:stylesheet version="1.0" 
    xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

	<xsl:include href="template/email/ycd/common/YCD_brand.xsl.sample"/>
	<xsl:include href="template/email/ycd/common/YCD_personalInfo.xsl.sample"/>
	<xsl:include href="template/email/ycd/common/YCD_miscUtils.xsl.sample"/>

	<xsl:variable name="Brand">
		<xsl:call-template name="BrandName">
			<xsl:with-param name="BrandCode" select="/Order/@EnterpriseCode"/>
		</xsl:call-template>
	</xsl:variable>
	<xsl:variable name="BrandPhoneNumber">
		<xsl:call-template name="BrandPhoneNumber">
			<xsl:with-param name="BrandCode" select="/Order/@EnterpriseCode"/>
		</xsl:call-template>
	</xsl:variable>
	<xsl:template match="/">
		<HTML >
			<xsl:call-template name="applyStyle"/>
			<BODY topmargin="0" leftmargin="0" STYLE="font:normal 10pt Tahoma">
				<xsl:apply-templates select="Order"/>
			</BODY>
		</HTML >
	</xsl:template>

<xsl:template match="Order">

<xsl:call-template name="Greeting"><xsl:with-param name="FirstName" select="PersonInfoBillTo/@FirstName"/><xsl:with-param name="LastName" select="PersonInfoBillTo/@LastName"/></xsl:call-template>
	<p/>
	Thank you for shopping at www.<xsl:value-of select="$Brand"/>.com.  
	A credit of <xsl:value-of select="@RequestedAllowance"/> has been applied to your order (<xsl:value-of select="@OrderNo"/>).
	<p/>
	<xsl:call-template name="OrderStatusMessage"><xsl:with-param name="Brand" select="$Brand"/></xsl:call-template>
	<p/>

	<xsl:call-template name="StandardClosingMessage">
		<xsl:with-param name="Brand" select="$Brand"/>
		<xsl:with-param name="BrandPhoneNumber" select="$BrandPhoneNumber"/>
	</xsl:call-template>

</xsl:template>
</xsl:stylesheet>
