<html>
    <body>
        <form name="frmNoTaskTypeAvailable" target="/console/rfspecifictask.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td/>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="txtInfo" size="20"
                                    subtype="Label" type="text"
                                    validate="false" value="Mobile_No_TaskType_To_List"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
									<input col="1" hotkey="F4" name="OK"
                                    size="3" subtype="CommandBack"
                                    tag=" " type="button"
                                    validate="false" value="Mobile_OK"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
