<html>
    <body>
        <form name="frmPalletBuildActivityGrb" target="/console/rfpalletbuild.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300" >
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    size="20" subtype="Label"
                                    tag="binding=lblActivityGroup"
                                    type="text" validate="false" value="Mobile_Activity_List"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table
                                    binding="/Activities/@Activity"
                                    col="1" gridcols="4"
                                    gridrows="6" id="Activity"
                                    mandatory="false"
                                    name="gridActivityGroup"
                                    namespace="Activities" size="20"
                                    tag="binding=gridActivityGroup" validate="false">
                                    <tr>
                                    <td>
                                    <input colno="0" colName=" "
                                    size="0"
                                    type="hidden" value="/console/rfpalletbuild.ppc?action=frmGetCase"/>
                                    <input colno="1" colName=" "
                                    inputbinding="xml:/Activity/@ActivityGroupId"
                                    outputbinding="xml:/Activity/@ActivityGroupId"
                                    size="0" type="hidden"/>
                                    <input colno="2" colName=" "
                                    inputbinding="xml:/Activity/@ActivityCode"
                                    outputbinding="xml:/Activity/@ActivityCode"
                                    size="0" type="hidden"/>
                                    <input colno="3" colName="Activity"
                                    inputbinding="xml:/Activity/@Description"
                                    size="20" type="text"/>
                                    </td>
                                    </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr/>
                            <tr/>
							<tr/>
							<tr/>
                             <tr>
                                <td>
                                    <input col="1" hotkey="F10"
                                    name="DONE" size="5"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfmenu.ppc?CurrentInnerPanelID=menu"
                                    validate="false" value="Mobile_Done"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
