<html>
    <body>
        <form name="frmInvalidTag" target="/console/rfitem.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
   
                                    <input col="1" mandatory="false"
                                    name="txtError" size="20"
                                    subtype="Label" type="text"
                                    validate="false" value="Mobile_Error:"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="txtInfo" size="20"
                                    subtype="Label" type="text"
                                    validate="false" value="Mobile_Invalid_Tag"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3" name="OK"
                                    size="3" subtype="Command"
                                    tag=" " type="button"
                                    url="/console/rfitem.ppc?action=frmLotInitialize"
                                    validate="false" value="Mobile_OK"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
