<html>
    <body>
        <form name="frmSerialEntry" target="/console/rfitem.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
    
                                    <input col="1" mandatory="false"
                                    name="lblSKU" size="20"
                                    subtype="Label"
                                    tag="binding=lblItemID"
                                    type="text" validate="false" value="Mobile_SKU"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Item/@ItemID"
                                    mandatory="false"
                                    name="txtItemID"
                                    outputbinding="xml:/Item/@ItemID"
                                    size="20"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Item/@ItemID"
                                    type="text" validate="false"/>
   									<input col="1"
                                    inputbinding="xml:/Item/@LocationId"
                                    name="txtLocationId"
                                    outputbinding="xml:/Item/@LocationId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Item/@LocationId"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblSerialNo" size="20"
                                    subtype="Label"
                                    tag="binding=lblSerialNo"
                                    type="text" validate="false" value="Mobile_Serial_#"/>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Inventory/SerialList/SerialDetail1/@SerialNo"
                                    mandatory="false"
                                    name="txtSerialNo"
                                    outputbinding="xml:/Inventory/SerialList/SerialDetail/@SerialNo"
                                    size="20" subtype="Text"
                                    tag="binding=xml:/Inventory/SerialList/SerialDetail/@SerialNoo"
                                    type="text" validate="true"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F12"
                                    mandatory="false" name="Done"
                                    size="5" subtype="Command"
                                    type="button"
                                    url="/console/rfitem.ppc?action=frmMandateSerialScan"
                                    validate="false" value="Mobile_Done"/>
                                 </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
