<html>
    <body>
        <form name="frmOverrideDepositLocationInfo" target="/console/rfcart.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
								  <td>
                                    <input col="8" name="lblPick" size="8" subtype="Label" value="Mobile_Info"
                                    type="text" validate="false"/>
								  </td>
                            </tr>
                            <tr>
								<td>
								    <input col="1"
                                    inputbinding="xml:/Task/@EquipmentId"
                                    name="txtEquipmentId"
                                    outputbinding="xml:/Task/@EquipmentId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EquipmentId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@TaskKey"
                                    name="txtTaskKey"
                                    outputbinding="xml:/Task/@TaskKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@TaskKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@ActivityGroupId"
                                    name="txtActivityGroup"
                                    outputbinding="xml:/Task/@ActivityGroupId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@ActivityGroupId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EnterpriseKey"
                                    name="txtEnterprise"
                                    outputbinding="xml:/Task/@EnterpriseKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EnterpriseKey"
                                    type="hidden" validate="false"/>
                                    <input col="8"
                                    inputbinding="xml:/Task/@TaskType"
                                    name="txtTaskType"
                                    outputbinding="xml:/Task/@TaskType"
                                    size="12" subtype="Hidden"
                                    tag="binding=xml:/Task/@TaskType"
                                    type="hidden" validate="false"/>									               
                                    <input col="1"
									inputbinding="xml:/DepositLocation/@DisplayItemId"
                                    name="txtDisplaySKUId"
									outputbinding="xml:/DepositLocation/@DisplayItemId"
                                    size="20" subtype="Hidden"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/Task/Inventory/@ItemId"
                                    mandatory="false"
                                    name="txtItemID"
                                    outputbinding="xml:/Task/Inventory/@ItemId"
                                    size="20"
                                    subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@ItemId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/Inventory/@UnitOfMeasure"
                                    mandatory="false" name="txtUOM"
                                    outputbinding="xml:/Task/Inventory/@UnitOfMeasure"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@UnitOfMeasure"
                                    type="hidden" validate="false"/>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/@Target"
                                    name="txtLocationId"
                                    outputbinding="xml:/Task/@Target"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@Target"
                                    type="hidden" validate="true"/>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/@TargetLocationId"
                                    name="txtTargetLocationId"
                                    outputbinding="xml:/Task/@TargetLocationId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@TargetLocationId"
                                    type="hidden" validate="false"/>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/@SourceLocationId"
                                    name="txtCurrentLocationId"
                                    outputbinding="xml:/Task/@SourceLocationId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@SourceLocationId"
                                    type="hidden" validate="false"/>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/@TargetPalletId"
                                    name="txtTargetPalletId"
                                    outputbinding="xml:/Task/@TargetPalletId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@TargetPalletId"
                                    type="hidden" validate="false"/>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/@TargetCaseId"
                                    name="txtTargetCaseId"
                                    outputbinding="xml:/Task/@TargetCaseId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@TargetCaseId"
                                    type="hidden" validate="false"/>
									<input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/Inventory/@SourceCaseId"
                                    name="txtSrcCaseId"
                                    outputbinding="xml:/Task/Inventory/@SourceCaseId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task2/Inventory/@SourceCaseId"
                                    type="hidden" validate="false"/>
									<input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/Inventory/@SourcePalletId"
                                    name="txtSrcPalletId"
                                    outputbinding="xml:/Task/Inventory/@SourcePalletId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task2/Inventory/@SourcePalletId"
                                    type="hidden" validate="false"/>
                                    <input col="1" defaultoutput="false"
                                    inputbinding="xml:/Task2/@Context"
                                    name="txtContext"
                                    outputbinding="xml:/Task/@Context"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@Context"
                                    type="hidden" validate="false"/>
									<input col="1"
                                    inputbinding="xml:/DepositLocation/@LabelAll"
                                    name="txtSuggestedCaseId"
                                    outputbinding="xml:/TaskList/Task/Inventory/@SourceCaseId"
                                    size="20"
                                    subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/Inventory/@SourceCaseId"
                                    type="hidden" validate="false"/>
				
								</td>
							</tr>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="txtInfo1" size="20"
                                    subtype="Label" type="text"
                                    validate="false" value="Mobile_Overriding"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <input col="1" mandatory="false"
                                    name="txtInfo2" size="20"
                                    subtype="Label" type="text"
                                    validate="false" value="Mobile_Deposit"/>
                                </td>
							</tr>

                            <tr>
                                <td>
                                  <input col="1" mandatory="false"
                                    name="txtInfo3" size="20"
                                    subtype="Label" type="text"
                                    validate="false" value="Mobile_Location"/>
                                </td>
							</tr>
							<tr/>                            
							<tr/>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3" name="OK"
                                    size="3" subtype="Command"
                                    tag=" " type="button"
                                 url="/console/rfcart.ppc?action=frmCartPickDepositFromWarning"
                                    validate="false" value="Mobile_OK"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
