<html>
    <body>
        <form name="frmTagEntry" target="/console/rfcart.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/@TaskKey"
                                    name="txtTaskKey"
                                    outputbinding="xml:/Task/@TaskKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@TaskKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EquipmentId"
                                    name="txtEquipmentId"
                                    outputbinding="xml:/Task/@EquipmentId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EquipmentId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EnterpriseKey"
                                    name="txtEnterprise"
                                    outputbinding="xml:/Task/@EnterpriseKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EnterpriseKey"
                                    type="hidden" validate="false"/>
                                    <input col="1" name="lblPick" size="10" subtype="Label" value="Mobile_Tag_Entry"
                                    type="text" validate="false"/>
								</td>
							</tr>
							<tr>
								<td>
									<input col="1" name="lblLocation"
                                    size="5" subtype="Label"
                                    tag="binding=lblLocation"
                                    type="text" validate="false" value="Mobile_Short_Location"/>
									<input col="8"
                                    inputbinding="xml:/TaskList/Task/@SuggCartLocationId"
                                    name="txtSuggestedLocationId"
                                    outputbinding="xml:/Task/@SuggCartLocationId"
                                    size="5"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Task/@SuggCartLocationId"
                                    type="text" validate="false"/>
								</td>
							</tr>
							<tr>
								<td>
									<input col="1" name="lblSlotNo"
									size="6" subtype="Label"
									tag="binding=lblSlotNo"
									type="text" validate="false" value="Mobile_Slot_#"/>
									<input col="8"
									inputbinding="xml:/TaskList/Task/@SlotNumber"
									name="txtSuggSlotNumber"
									outputbinding="xml:/Task/@SlotNumber"
									size="2"
									subtype="ProtectedText"
									tag="binding=xml:/Task/@SlotNumber"
									type="text" validate="false"/>
								</td>
							</tr>
							<tr>
								<td>
                                    <input col="1" mandatory="false"
                                    name="lblSKU" size="20"
                                    subtype="Label"
                                    tag="binding=lblItemID"
                                    type="text" validate="false" value="Mobile_SKU"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
								    <input col="1" 
                                    inputbinding="xml:/Item/@DisplayItemId"
                                    mandatory="false"
                                    name="txtDisplayItemId" 
									outputbinding="xml:/TaskList9/Task/Inventory/@ItemId"
									tag="binding=xml:/TaskList9/Task/Inventory/@ItemId"
                                    size="20"
                                    subtype="ProtectedText"
                                    type="text" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/TaskList/Task/Inventory/@ItemId"
                                    mandatory="false"
                                    name="txtItemID"
                                    outputbinding="xml:/TaskList/Task/Inventory/@ItemId"
                                    size="20"
                                    subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/Inventory/@ItemId"
                                    type="hidden" validate="false"/>
                                    <input col="1" inputbinding="xml:/TaskList/@SuggTargetCaseId" mandatory="false" name="txtTargetCaseId" outputbinding="xml:/Task/@SuggTargetCaseId" size="20" subtype="Hidden" tag="binding=xml:/Task/@SuggTargetCaseId" type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Item/@UnitOfMeasure"
                                    mandatory="false" name="txtUOM"
                                    outputbinding="xml:/Task/Inventory/@UnitOfMeasure"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@UnitOfMeasure"
                                    type="hidden" validate="false"/>
									<input col="1" inputbinding="xml:/TaskList/Task/Inventory/@SortQty" name="txtSuggSortQty" outputbinding="xml:/Task/@SortQty" size="20" subtype="Hidden" tag="binding=xml:/Task/@SortQty" type="hidden" validate="false"/>
								    <input col="1" inputbinding="xml:/TaskList/@SuggTotalQuantity" name="txtSuggTotalQuantity" outputbinding="xml:/Task/@SuggTotalQuantity" size="20" subtype="Hidden" tag="binding=xml:/Task/@SuggTotalQuantity" type="hidden" validate="false"/>
									<input col="1" inputbinding="xml:/TaskList/@EffectiveTotalQty" name="txtEffectiveTotalQty" outputbinding="xml:/Task/@EffectiveTotalQty" size="20" subtype="Hidden" tag="binding=xml:/Task/@EffectiveTotalQty" type="hidden" validate="false"/>
								    <input col="1" inputbinding="xml:/Exception1/@ApplyException" name="txtException" outputbinding="xml:/Exception/@ApplyException" size="20" subtype="Hidden" tag="binding=xml:/Exception/@ApplyException" type="hidden" validate="false"/>
									<input col="1" inputbinding="xml:/Exception1/@ExceptionCode" name="txtExceptionCode" outputbinding="xml:/TaskException/@ExceptionCode" size="20" subtype="Hidden" tag="binding=xml:/TaskException/@ExceptionCode" type="hidden" validate="false"/>
									<input col="1" inputbinding="xml:/Task/TaskType/@PackWhilePick" name="txtPackWhilePick" outputbinding="xml:/Task/TaskType/@PackWhilePick" size="20" subtype="Hidden" tag="binding=xml:/Task/TaskType/@PackWhilePick" type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Item/InventoryParameters/@TagControlFlag"
                                    mandatory="false"
                                    name="tagControlFlag"
                                    outputbinding="xml:/Item/InventoryParameters/@TagControlFlag"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Item/InventoryParameters/@TagControlFlag"
                                    type="hidden" validate="false"/>
                                    <input col="1" inputbinding="xml:/Item/InventoryParameters/@CaptureTagAttributesInExecution" mandatory="false" name="txtTagAttrFlag" outputbinding="xml:/Item/InventoryParameters/@CaptureTagAttributesInExecution" size="20" subtype="Hidden" tag="binding=xml:/Item/InventoryParameters/@CaptureTagAttributesInExecution" type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblTagNumber" size="20"
                                    subtype="Hidden"
                                    tag="binding=lblTagNumber"
                                    type="hidden" validate="false" value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="txtSuggestedTagNumber"
                                    outputbinding="" size="20"
                                    subtype="Hidden" tag=""
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" defaultoutput="false"
                                    mandatory="false"
                                    name="txtTagNumber"
                                    outputbinding="" size="20"
                                    subtype="Hidden" tag=""
                                    type="hidden" validate="true"/>
                                </td>
                            </tr>
                            <tr/>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3"
                                    mandatory="false" name="Go"
                                    size="3" subtype="Command"
                                    type="button"
                                    url="/console/rfcart.ppc?action=frmTagEntryValtxtTagNumber"
                                    validate="false" value="Mobile_Go"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
