<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Licensed Materials - Property of IBM
IBM Sterling Order Management  (5725-D10)
IBM Sterling Configure Price Quote (5725-D11)
(C) Copyright IBM Corp. 2016 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<Order AllocationRuleID="" AuthorizationExpirationDate="" BillToID=""
BuyerOrganizationCode="" CarrierAccountNo="" CarrierServiceCode=""
ChargeActualFreightFlag="" CustomerEMailID="" CustomerPONo=""
DeliveryCode="" Division="" DocumentType="" DraftOrderFlag=""
EnteredBy="" EnterpriseCode="" EntryType="" 
FreightTerms="" HoldFlag="" HoldReasonCode="" MaxOrderStatus=""
MaxOrderStatusDesc="" MinOrderStatus="" MinOrderStatusDesc=""
NotificationReference="" NotificationType=""
NotifyAfterShipmentFlag="" OrderDate="" OrderHeaderKey=""
OrderName="" OrderNo="" OrderType="" OriginalTax=""
OriginalTotalAmount="" OtherCharges="" PaymentStatus=""
PersonalizeCode="" PriceProgramKey="" PriorityCode=""
PriorityNumber="" Purpose="" ReceivingNode="" ReqCancelDate="" ReqDeliveryDate=""
ReqShipDate="" SCAC="" ScacAndService="" ScacAndServiceKey=""
SearchCriteria1="" SearchCriteria2="" SellerOrganizationCode=""
ShipCompleteFlag="" ShipToID="" Status="" TaxExemptFlag=""
TaxExemptionCertificate="" TaxJurisdiction="" TaxPayerId=""
TermsCode="" TotalAdjustmentAmount="" isHistory="">
	<OrderStatuses>
		<OrderStatus  
			OrderHeaderKey="" OrderLineKey="" OrderLineScheduleKey=""
			OrderReleaseKey="" OrderReleaseStatusKey="" PipelineKey=""
			Status="" StatusDate="" StatusDescription="" StatusQty=""
			StatusReason="" TotalQuantity="" ShipNode="" ReceivingNode="">
		 <Details ExpectedDeliveryDate="" ExpectedShipmentDate="" TagNumber=""  ShipByDate="" />
		 </OrderStatus>
	</OrderStatuses>
	<EvaluatingMonitorRule CalendarException="" Age="" AgeType="" ComparisonDateSubType="" ComparisonDateType="" 
	ComparisonStatus="" ConditionKey="" DateSubTypeToMonitor="" DateTypeToMonitor=""
	FlowKey="" MonitorConsolidationKey="" MonitorRuleKey="" MonitorType=""
	PipelineKey="" Priority="" ProcessTypeKey="" StatusToMonitor=""/>
</Order>
