<?xml version="1.0" encoding="UTF-8" ?>
<!--
Licensed Materials - Property of IBM
IBM Sterling Selling and Fulfillment Suite - Foundation
(C) Copyright IBM Corp. 2007, 2012 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<xsl:stylesheet version="2.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
	<xsl:output method="html" encoding="UTF-8" indent="yes" />
	
	<xsl:variable name="pierbridge_server_url">
		<xsl:value-of select="/MultiApi/API[@Name='getProperty']/Output/GetProperty/@PropertyValue" />
	</xsl:variable>
	<!--xsl:variable name="pierbridge_image_url">
		<xsl:value-of select="replace($pierbridge_server_url, 'xmlservice', 'image')" />
	</xsl:variable-->
	<xsl:variable name="pierbridge_image_url">
		<xsl:value-of select="substring-before($pierbridge_server_url,'xmlservice')"/>
		<xsl:value-of select="'image'"/>
		<xsl:value-of select="substring-after($pierbridge_server_url,'xmlservice')"/>
	</xsl:variable>
	
	<xsl:template match="/MultiApi">
				<xsl:for-each select="API[(normalize-space(@Name) = &quot;reprintCarrierLabel&quot;)]">					
					<xsl:for-each select="Output/reprintCarrierLabel/Container">
						<html>
						<body>
							<style>
								img {
									width: 100%;
								}
								img:not(:last-child) {
									page-break-after: always;
								}
							</style>
						<xsl:if test="@PierbridgeLabelURL">
							<image>
								<xsl:attribute name="src">
									<xsl:value-of select="$pierbridge_image_url" />
									<!--xsl:text>&#038;</xsl:text-->
									<xsl:text>%3F</xsl:text>
									<xsl:value-of select="@PierbridgeLabelURL" />
								</xsl:attribute>
							</image>
						</xsl:if>
						<xsl:for-each select="ContainerReturnTrackingList/ContainerReturnTracking">
							<xsl:if test="@PierbridgeReturnLabelURL">
								<image>
									<xsl:attribute name="src">
										<xsl:value-of select="$pierbridge_image_url" />
										<!--xsl:text>&#038;</xsl:text-->
										<xsl:text>%3F</xsl:text>
										<xsl:value-of select="@PierbridgeReturnLabelURL" />
									</xsl:attribute>
								</image>
							</xsl:if>
						</xsl:for-each>
						</body>
					</html>
					</xsl:for-each>
					<xsl:if test="count(Output/reprintCarrierLabel/Container) = 0">
					<Failed/>
					</xsl:if>
				</xsl:for-each>			
	</xsl:template>

</xsl:stylesheet>