<!--
Licensed Materials - Property of IBM
IBM Sterling Selling and Fulfillment Suite - Foundation
(C) Copyright IBM Corp. 2007, 2012 All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

	<xsl:template match="/">
		<xsl:apply-templates select="/Shipments" />
	</xsl:template>
	<xsl:template match="Shipments">
		<MultiApi>
			<xsl:for-each select="Shipment">
				<API Name="getSortedShipmentDetails">
					<Input>
						<Shipment>
							<xsl:attribute name="ShipmentKey">
								<xsl:value-of select="@ShipmentKey" />
							</xsl:attribute>
						</Shipment>
					</Input>
				</API>
				<API Name="changeShipment">
					<Input>
						<Shipment PickTicketPrinted="Y" OverrideModificationRules="Y">
							<xsl:attribute name="ShipmentKey">
								<xsl:value-of select="@ShipmentKey" />
							</xsl:attribute>
						</Shipment>
					</Input>
				</API>
				<xsl:if test="position() = last()">
					<API Name="getItemUOMMasterList">
						<Input>
							<ItemUOMMaster>
								<xsl:attribute name="EnterpriseCode">
									<xsl:value-of select="@EnterpriseCode" />
								</xsl:attribute>
							</ItemUOMMaster>
						</Input>
					</API>
					<API Name="getOrganizationHierarchy">
						<Input>
							<Organization>
								<xsl:attribute name="OrganizationCode">
									<xsl:value-of select="ShipNode/@ShipNode" />
								</xsl:attribute>
							</Organization>
						</Input>
					</API>
				</xsl:if>
			</xsl:for-each>
		</MultiApi>
	</xsl:template>
</xsl:stylesheet>
