<html>
    <body>
        <form name="frmSKUPickQtyEntry" target="/console/rfputaway.ppc">
            <table border="1">
                <tr>
                    <td>
                        <table border="0" width="300">
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EquipmentId"
                                    name="txtEquipmentId"
                                    outputbinding="xml:/Task/@EquipmentId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EquipmentId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@TaskKey"
                                    name="txtTaskKey"
                                    outputbinding="xml:/Task/@TaskKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@TaskKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@EnterpriseKey"
                                    name="txtEnterprise"
                                    outputbinding="xml:/Task/@EnterpriseKey"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@EnterpriseKey"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@ActivityGroupId"
                                    name="txtActivityGroup"
                                    outputbinding="xml:/Task/@ActivityGroupId"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/@ActivityGroupId"
                                    type="hidden" validate="false"/>
                                    <input col="1" name="lblPick" size="7" subtype="Label" value="Mobile_Pick-"
                                    type="text" validate="false"/>
                                    <input col="8"
                                    inputbinding="xml:/Task/@TaskType"
                                    name="txtTaskType"
                                    outputbinding="xml:/Task/@TaskType"
                                    size="12" subtype="Label"
                                    tag="binding=xml:/Task/@TaskType"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblSKU" size="6"
                                    subtype="Label"
                                    tag="binding=lblItemID"
                                    type="text" validate="false" value="Mobile_SKU"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
								   <input col="1" 
                                    inputbinding="xml:/Item/@DisplayItemId"
                                    name="txtDisplayItemId" size="20"
									outputbinding="xml:/Item/@DisplayItemId"
                                    subtype="ProtectedText"
                                    type="text" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/Inventory/@ItemId"
                                    mandatory="false"
                                    name="txtItemID"
                                    outputbinding="xml:/Task/Inventory/@ItemId"
                                    size="10"
                                    subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@ItemId"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/Task/@SourceLocationId"
                                    name="txtLocationId"
                                    outputbinding="xml:/Task/@SourceLocationId"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/Task/@SourceLocationId"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblUOM" size="10"
                                    subtype="Label"
                                    tag="binding=lblUOM" type="text"
                                    validate="false" value="Mobile_UOM"/>
                                    <input col="11" mandatory="false"
                                    name="lblQty" size="9"
                                    subtype="Label"
                                    tag="binding=lblQty" type="text"
                                    validate="true" value="Mobile_Quantity"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/Inventory/@OpUOM"
                                    mandatory="false" name="lblOUom"
                                    outputbinding="xml:/Task/Inventory/@OpUOM"
                                    size="10" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@OpUOM"
                                    type="hidden" validate="false" value=""/>
                                    <input col="11"
                                    inputbinding="xml:/Task/Inventory/@OpQty"
                                    mandatory="false" name="txtOUom"
                                    outputbinding="xml:/Task/Inventory/@OpQty"
                                    size="9" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@OpQty"
                                    type="hidden" validate="false"/>
                                    <input col="11"
                                    inputbinding="xml:/Task/Inventory/@OpUomQty"
                                    mandatory="false"
                                    name="txtOUomQty"
                                    outputbinding="xml:/Task/Inventory/@OpUomQty"
                                    size="9" subtype="Hidden"
                                    tag="binding=xml:/Task/Inventory/@OpUomQty"
                                    type="hidden" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/Task/Inventory/@UnitOfMeasure"
                                    mandatory="false"
                                    name="lblInvUom"
                                    outputbinding="xml:/Task/Inventory/@UnitOfMeasure"
                                    size="10"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Task/Inventory/@UnitOfMeasure"
                                    type="text" validate="false" value="Inv_UOM"/>
                                    <input col="11" mandatory="false"
                                    name="txtIUom"
                                    outputbinding="xml:/Task/Inventory/@InvQuantity"
                                    size="9" subtype="Text"
                                    tag="binding=xml:/Task/Inventory/@InvQuantity"
                                    type="text" validate="always"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" mandatory="false"
                                    name="lblSuggestedTotal"
                                    size="5" subtype="Label"
                                    type="text" validate="false" value="Mobile_Total"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1"
                                    inputbinding="xml:/TaskList/Task/Inventory/@Quantity"
                                    mandatory="false"
                                    name="txtSuggestedTotal"
                                    outputbinding="xml:/TaskList/Task/Inventory/@Quantity"
                                    size="20" subtype="Hidden"
                                    tag="binding=xml:/TaskList/Task/Inventory/@Quantity"
                                    type="hidden" validate="false"/>
                                    <input col="1"
                                    inputbinding="xml:/TaskList/Task/Inventory/@Quantity"
                                    mandatory="false"
                                    name="txtActualTotal"
                                    outputbinding="xml:/Task/Inventory/@Quantity"
                                    size="20"
                                    subtype="ProtectedText"
                                    tag="binding=xml:/Task/Inventory/@Quantity"
                                    type="text" validate="false"/>
                                    <input col="12"
                                    inputbinding="xml:/Task/Inventory/@UnitOfMeasure"
                                    name="txtUOM"
                                    outputbinding="xml:/Task1/Inventory/@UnitOfMeasure"
                                    size="8" subtype="ProtectedText"
                                    tag="binding=xml:/Task1/Inventory/@UnitOfMeasure"
                                    type="text" validate="false"/>
                                </td>
                            </tr>
                            <tr>
                                <td/>
                            </tr>
                            <tr>
                                <td>
                                    <input col="1" hotkey="F3"
                                    mandatory="false" name="Go"
                                    size="3" subtype="Command"
                                    type="button"
                                    url="/console/rfputaway.ppc?action=frmSKUPickUpdate"
                                    validate="false" value="Mobile_Go"/>
 									<input col="5" hotkey="F8"
                                    name="Deposit" size="7"
                                    subtype="Command" tag=" "
                                    type="button"
                                    url="/console/rfputaway.ppc?action=frmDepositAfterUpdate"
                                    validate="false" value="Mobile_Deposit"/>                           
                                </td>
                            </tr>
							<tr>
								<td>
									<input col="1" hotkey="F4"
                                    name="Exception" size="10"
                                    subtype="Command" type="button"
                                    url="/console/rfputaway.ppc?action=frmPickException"
                                    validate="false" value="Mobile_Exception"/>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
